<!DOCTYPE html>
<html>
  <head>
    {{ include "_layouts/_head.liquid" }}
  </head>
<body>
  {{ include "_layouts/_header.liquid" }}
  <main>
    <article>
      <h1>{{ title }}</h1>
      <time pubdate="pubdate">{{ date }}</time>
      {{ content }}
    </article>
  </main>
  {{ include "_layouts/_footer.liquid" }}
</body>
</html>
